.btnDelete {
	top: 13px;
	right: 14px;
	z-index: 10;
	background: #ffffff99;
	border: 1px solid #ffffff;
	border-radius: 8px;
	width: 48px;
	height: 48px;

	svg {
		fill: #b72a2a;
		width: 30px;
		height: 30px;
	}
}
