.spiderWrapper {
	width: 85dvw;
	overflow: hidden;
}

.swiper {
	width: 260px;
	margin-left: 0 !important;
	overflow: visible !important;
}

.list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	width: 100%;
}
