.form {
	margin-top: 44px;
	width: 478px;
	display: flex;
	flex-direction: column;

	font-size: 16px;
	font-weight: 400;
	line-height: 24px;

	label {
		margin-bottom: 24px;
	}

	span {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.buttonHide {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 8px;

		cursor: pointer;
		background: none;
		border: none;
		font-size: 18px;
		font-weight: 400;
		line-height: 27px;
		text-align: right;
		color: #666666;
	}

	.policy {
		position: relative;
		display: flex;
		flex-direction: row;
		width: 100%;
		font-size: 14px;
		font-weight: 400;
		line-height: 16.8px;
		text-align: left;
		color: #333333;
		width: 400px;
		div {
			position: absolute;
			bottom: -20px;
			left: 0;
			font-size: 14px;
			font-weight: 400;
			line-height: 21px;
			color: red;
		}
	}
	.checkbox + label::before {
		content: "";
		display: inline-block;
		width: 1em;
		height: 1em;
		flex-shrink: 0;
		flex-grow: 0;
		border: 1px solid #adb5bd;
		border-radius: 0.25em;
		margin-right: 0.5em;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 50% 50%;
		transition: all 0.3s ease;
	}
	.checkbox:checked + label::before {
		background: #333333;
	}
	.checkbox:checked + label::after {
		content: "";
		position: absolute;
		top: 0px;
		left: 5px;
		width: 5px;
		height: 10px;
		border: solid white;
		border-width: 0 2px 2px 0;
		transform: rotate(45deg);
		z-index: 10;
	}
	.checkbox {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}
}

@media screen and (max-width: 490px) {
	.form {
		width: 100%;
		margin-top: 0px;

		.policy {
			width: 100%;
			div {
				font-size: 10px;
			}
		}
	}
}
